<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Quote_F" value="#C00000"/>
    <add key="QuasiQuote_F" value="#C00000"/>
    <add key="Unquote_F" value="#C00000"/>
    <add key="UnquoteSplicing_F" value="#C00000"/>
    <add key="BeginString_B" value="#80FF80"/>
    <add key="CharEscape_B" value="#80FF80"/>
    <add key="HexEscape_B" value="#80FF80"/>
    <add key="OctEscape_B" value="#80FF80"/>
    <add key="StrChars_B" value="#80FF80"/>
    <add key="EndString_B" value="#80FF80"/>
    <add key="BeginString_GB" value="#40C040"/>
    <add key="CharEscape_GB" value="#40C040"/>
    <add key="HexEscape_GB" value="#40C040"/>
    <add key="OctEscape_GB" value="#40C040"/>
    <add key="StrChars_GB" value="#40C040"/>
    <add key="EndString_GB" value="#40C040"/>
    <add key="Guid_F" value="#FF0080"/>
    <add key="BooleanTrue_F" value="#008000"/>
    <add key="BooleanFalse_F" value="#008000"/>
    <add key="BooleanTrue_B" value="#E0FFE0"/>
    <add key="BooleanFalse_B" value="#E0FFE0"/>
    <add key="Char_F" value="#0080FF"/>
    <add key="Char_B" value="#E0FFF0"/>
    <add key="Integer_F" value="#0000FF"/>
    <add key="HexInteger_F" value="#0000FF"/>
    <add key="OctalInteger_F" value="#0000FF"/>
    <add key="Double_F" value="#FF0000"/>
    <add key="Integer_B" value="#E0E0FF"/>
    <add key="HexInteger_B" value="#E0E0FF"/>
    <add key="OctalInteger_B" value="#E0E0FF"/>
    <add key="Double_B" value="#E0E0FF"/>
    <add key="Numerator_F" value="#FF8000"/>
    <add key="FractionBar_F" value="#FF8000"/>
    <add key="Denominator_F" value="#FF8000"/>
    <add key="Numerator_B" value="#FFF0E0"/>
    <add key="FractionBar_B" value="#FFF0E0"/>
    <add key="Denominator_B" value="#FFF0E0"/>
  </appSettings>
</configuration>